.doctorBtn, .userBtn, .scheduleBtn, .rescheduleBtn, .appointmentSearchBtn {
    display: block;
    width: 60%;
    margin: 5% auto;
    padding: 5%;
    color: var(--white);
    background-color: var(--primary);
    border-radius: var(--soft-radius);
}
.scheduleBtn, .rescheduleBtn, .appointmentSearchBtn {
    width: 35%;
    padding: 3%;
    background-color: var(--secundary);
}
h1 {
    text-align: center;
    font-size: xx-large;
}
.date, .dateSearch, .statusSearch {
    padding: 2%;
    width: 60%;
    color: var(--white);
    background-color: var(--primary);
    border-radius: var(--soft-radius);
}
.date, .timeDiv ul {
    margin: 2% 0 0 0;
}
.dateDiv, .timeDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timeDiv ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.timeDiv ul li {
    margin: 0 0 5% 0;
    padding: 5%;
    background-color: var(--primary);
    border: 1px solid var(--white);
    border-radius: var(--soft-radius);
}
.dateDiv {
    margin: 5% 0;
}
p.message {
    margin: 5% 0 0 0;
    text-align: center;
    color: var(--striking);
}
p.success {
    color: var(--striking);
}
.leftArrow, .usersLeftArrow {
    position: absolute;
    top: 0.3rem;
    left: 0.7rem;
    width: 36px;
    height: 43px;
    cursor: pointer;
}
.doctorsDiv, .usersDiv {
    position: absolute;
    top: 0;
    left: -100vw;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--primary-light);
    transition: 0.7s;
    opacity: 0;
}
.doctorsDiv.visible, .usersDiv.visible {
    left: 0;
    opacity: 1;
}
.doctorsDiv h1, .chosenDoctor h1  {
    margin: 10% 0 0 0;
}
.doctorSearch, .userSearch, .usernameSearch, #reason {
    display: block;
    width: 80%;
    margin: 5% auto 10% auto;
    padding: 3%;
    color: var(--white);
    background-color: var(--primary);
    border-radius: var(--soft-radius);
}
.doctorSearch::placeholder, .userSearch::placeholder, .usernameSearch::placeholder, #reason::placeholder {
    color: var(--white-transparent);
}
.hidden {
    display: none;
}
.timeDiv .selected {
    background-color: var(--success);
}
.sliderContainer {
    width: 90%;
    margin: 0 auto;
}
.sliderContainer p {
    margin: 2% 0 0 0;
    text-align: center;
}
#duration {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    /* margin: 0 auto; */
    padding: 1%;
    border-radius: var(--soft-radius);
    background-color: var(--primary);
    opacity: 0.8;
    transition: 2s;
}
#duration:hover {
    opacity: 1;
}
#duration::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: var(--primary-light);
    border-radius: 50%;
    cursor: pointer;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    margin: auto auto;
    aspect-ratio: 1;
    box-shadow: 0 0 0 3px #fff inset;
    border-radius: 50%;
    position: relative;
    animation: l11 7s infinite;
}
.loader.margin {
    margin-top: 10%;
}
.loader:before, .loader:after {
    content: "";
    position: absolute;
    top: calc(100% + 3px);
    left: calc(50% - 12.5px);
    box-shadow: inherit;
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
    transform-origin: 50% -28px;
    animation: l11 1.5s infinite;
}
.loader:after {
    animation-delay: -0.75s;
}
@keyframes l11 {
    100% {
        transform: rotate(360deg);
    }
}

/* Appointment home */

.appointmentsNav {
    width: 100%;
    margin: 5% auto;
}
.appointmentsNav button {
    font-size: medium;
    background-color: var(--primary);
    border-radius: var(--soft-radius);
}
.appointmentsNav button.selected {
    background-color: var(--success);
}
h2 {
    margin: 10% 0 0 0;
    font-size: x-large;
}
.appointment .doctorInfo {
    display: flex;
    justify-content: space-between;
}
.appointment {
    width: 90%;
    margin: 3% auto;
    padding: 2%;
    border: 2px solid var(--white);
    border-radius: var(--soft-radius);
}
.doctorInfo div h1, .doctorInfo div p {
    text-align: start;
}
.doctorInfo h1 {
    font-size: x-large;
    font-weight: 800;
}
.doctorInfo div p {
    text-transform: capitalize;
    font-size: medium;
    opacity: 0.7;
}
.doctorInfo img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: top;
}
.appointment ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5% 0;
}
.appointment ul img {
    width: 20%;
    display: block;
    margin: auto;
}
.appointment ul li {
    text-align: center;
}
.appointment ul li p {
    margin: 4% 0 0 0;
}
.appointment ul li:last-child img {
    width: 15%;
}
.appointment ul li:last-child p::first-letter {
    text-transform: uppercase;
}
.appointmentBtns {
    display: flex;
    justify-content: space-around;
}
.appointmentBtns button {
    padding: 0.6rem;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: var(--soft-radius);
}
.appointmentBtns a:first-child button {
    background-color: var(--white-transparent);
}
.appointmentBtns button:last-child {
    background-color: var(--primary);
}

/* Appointments manager */

.appointmentsSearchForm {
    width: 90%;
    margin: 3% auto;
    padding: 2%;
    border: 2px solid var(--white);
    border-radius: var(--soft-radius);
}
.usernameSearch {
    margin: 5% auto;
}
.appointmentsSearchForm div {
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.dateSearch {
    width: 40%;
}
.appointmentsSearchForm button {
    display: block;
    margin: 10% auto 2% auto;
}
.appointment div > div {
    width: 60%;
}
.appointmentsSearchForm .statusSearchContainer {
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.statusSearch {
    width: 100%;
}