.doctorBtn, .scheduleBtn {
    display: block;
    width: 60%;
    margin: 5% auto;
    padding: 5%;
    color: var(--white);
    background-color: var(--primary);
    border-radius: var(--soft-radius);
}
.scheduleBtn {
    width: 35%;
    padding: 3%;
    background-color: var(--secundary);
}
h1 {
    text-align: center;
    font-size: xx-large;
}
.date {
    padding: 2%;
    width: 60%;
    color: var(--white);
    background-color: var(--primary);
    border-radius: var(--soft-radius);
}
.date, .timeDiv ul {
    margin: 2% 0 0 0;
}
.dateDiv, .timeDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timeDiv ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.timeDiv ul li {
    margin: 0 0 5% 0;
    padding: 5%;
    background-color: var(--primary);
    border: 1px solid var(--white);
    border-radius: var(--soft-radius);
}
.dateDiv {
    margin: 5% 0;
}
p.message {
    margin: 5% 0 0 0;
    text-align: center;
    color: var(--striking);
}
p.success {
    color: var(--striking);
}
.leftArrow {
    position: absolute;
    top: 0.3rem;
    left: 0.7rem;
    width: 36px;
    height: 43px;
    cursor: pointer;
}
.doctorsDiv {
    position: absolute;
    top: 0;
    left: -100vw;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--primary-light);
    transition: 0.7s;
    opacity: 0;
}
.doctorsDiv.visible {
    left: 0;
    opacity: 1;
}
.doctorsDiv h1, .chosenDoctor h1  {
    margin: 10% 0 0 0;
}
.doctorsDiv input {
    display: block;
    width: 80%;
    margin: 5% auto 10% auto;
    padding: 3%;
    color: var(--white);
    background-color: var(--primary);
    border-radius: var(--soft-radius);
}
.doctorsDiv input::placeholder {
    color: var(--white-transparent);
}
.doctorsDiv section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.doctorsDiv article, .chosenDoctor {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 0 4% 0;
    padding: 3%;
    border: 2px solid var(--white);
    border-radius: var(--soft-radius);
    text-transform: capitalize;
}
.chosenDoctor {
    margin: 0 auto 0 auto;
}
.doctorsDiv article h1, .doctorsDiv article p, .chosenDoctor h1, .chosenDoctor p {
    display: inline-block;
    max-height: max-content;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.doctorsDiv article > div, .chosenDoctor > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 50%;
}
.doctorsDiv article h1, .chosenDoctor h1 {
    margin: 0 0 1% 0;
    font-weight: 900;
    font-size: larger;
    text-align: start;
}
.doctorsDiv article p, .chosenDoctor p {
    margin: 0 0 10% 0;
    opacity: 0.7;
    font-size: medium;
}
.doctorsDiv article p.hospitalP, .chosenDoctor p.hospitalP {
    opacity: 1;
    margin: 0;
    font-size: large;
}
.doctorsDiv article img, .chosenDoctor img {
    width: 50%;
    height: 100%;
}
.hidden {
    display: none;
}
.timeDiv .selected {
    background-color: var(--success);
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    box-shadow: 0 0 0 3px #fff inset;
    border-radius: 50%;
    position: relative;
    animation: l11 7s infinite;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    top: calc(100% + 3px);
    left: calc(50% - 12.5px);
    box-shadow: inherit;
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
    transform-origin: 50% -28px;
    animation: l11 1.5s infinite;
  }
  .loader:after {
    animation-delay: -0.75s;
  }
  @keyframes l11 {
    100% {
      transform: rotate(360deg);
    }
  }

/* Appointment home */

h2 {
    margin: 10% 0 0 0;
    font-size: x-large;
}
.appointment .doctorInfo {
    display: flex;
    justify-content: space-between;
}
.appointment {
    width: 90%;
    margin: 3% auto;
    padding: 2%;
    border: 2px solid var(--white);
    border-radius: var(--soft-radius);
}
.doctorInfo div h1, .doctorInfo div p {
    text-align: start;
}
.doctorInfo h1 {
    font-size: x-large;
    font-weight: 800;
}
.doctorInfo div p {
    text-transform: capitalize;
    font-size: medium;
    opacity: 0.7;
}
.doctorInfo img {
    width: 40%;
}
.appointment ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5% 0;
}
.appointment ul img {
    width: 20%;
    display: block;
    margin: auto;
}
.appointment ul li {
    text-align: center;
}
.appointment ul li p {
    margin: 4% 0 0 0;
}
.appointment ul li:last-child img {
    width: 15%;
}
.appointment ul li:last-child p::first-letter {
    text-transform: uppercase;
}
.appointmentBtns {
    display: flex;
    justify-content: space-around;
}
.appointmentBtns button {
    padding: 3%;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: var(--soft-radius);
}
.appointmentBtns button:first-child {
    background-color: var(--white-transparent);
}
.appointmentBtns button:last-child {
    background-color: var(--primary);
}