.dashboard {
    position: absolute;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100%;
    padding: 10% 0 0 0;
    background-color: var(--primary);
    z-index: 1;
    transition: 0.5s;
}
.dashboard.showed {
    left: 0;
}
.cross {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 2.5rem;
    cursor: pointer;
    z-index: 2;
    transition: 0.5s;
}
.cross:hover {
    transform: rotate(180deg);
}
.dashboard, .dashboard .userInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.dashboard .userInfo {
    width: 90%;
    margin: 0 auto;
}
.dashboard .userInfo img {
    /* width: 200px;
    height: 112px; */
    width: 120px;
    height: 130px;
    clip-path: circle();
    object-fit: cover;
    object-position: top;
}
.dashboard .userInfo P {
    margin: 0.2rem 0 1rem 0;
    font-size: large;
}
.dashboard ul li {
    margin: 2rem 0;
    transition: 0.2s;
}
a {
    color: var(--white);
    text-decoration: none;
    transition: 0.2s;
}
a:hover {
    color: var(--primary-light);
}

@media only screen and (min-width: 1024px) {
    .dashboard {
        width: 30vw;
        padding: 0.5rem 0 0 0;
    }
}

@media only screen and (min-width: 1600px) {
    .dashboard {
        width: 20vw;
    }
}