.dashboard {
    position: absolute;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100%;
    padding: 10% 0 0 0;
    background-color: var(--primary);
    z-index: 1;
    transition: 0.5s;
}
.dashboard.showed {
    left: 0;
}
.cross {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10%;
    cursor: pointer;
    z-index: 2;
}
.dashboard, .dashboard .userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dashboard .userInfo {
    width: 90%;
    margin: 0 auto;
}
.dashboard .userInfo img {
    width: 50%;
    clip-path: circle();
    border: 2px solid var(--white);
}
.dashboard .userInfo P {
    margin: 5% 0 20% 0;
    font-size: large;
}
.dashboard ul li {
    margin: 15% 0;
}
a {
    color: var(--white);
    text-decoration: none;
}