.doctorsSection, .usersSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.doctorsSection article, .usersSection article, .chosenDoctor, .chosenUser {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 0 1rem 0;
    padding: 3%;
    border: 2px solid var(--white);
    border-radius: var(--soft-radius);
    text-transform: capitalize;
}
.doctorsSection article, .usersSection article {
    cursor: pointer;
}
.usersSection article, .chosenUser {
    align-items: center;
}
.usersSection article p {
    text-transform: lowercase;
}
.chosenDoctor, .chosenUser {
    margin: 0 auto 0 auto;
}
.doctorsSection article h1, .doctorsSection article p, .usersSection article h1, .usersSection article p, .chosenDoctor h1, .chosenDoctor p, .appointment p {
    display: inline-block;
    max-height: max-content;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.doctorsSection article > div, .chosenDoctor > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 50%;
}
.usersSection article div {
    max-width: 50%;
}
.doctorsSection article h1, .usersSection article h1, .chosenDoctor h1 {
    width: 100%;
    margin: 0 0 1% 0;
    font-weight: 900;
    font-size: larger;
    text-align: start;
}
.usersSection article h1, .doctorsSection article h1 {
    width: 100%;
}
.doctorsSection article p, .chosenDoctor p {
    margin: 0 0 10% 0;
    opacity: 0.7;
    font-size: medium;
}
.doctorsSection article p.hospitalP, .chosenDoctor p.hospitalP {
    opacity: 1;
    margin: 0;
    font-size: large;
}
.doctorsSection article img, .usersSection article img, .chosenUser img, .chosenDoctor img {
    width: 50%;
    height: 150px;
    object-fit: cover;
    object-position: top;
}
.doctorsMessage {
    text-align: center;
    font-size: x-large;
}

@media only screen and (min-width: 768px) {
    .doctorsSection article, .usersSection article, .chosenDoctor, .chosenUser {
        width: 60%;
    }
}

@media only screen and (min-width: 1024px) {
    .doctorsSection article, .usersSection article {
        width: 40%;
        margin: 0.5rem;
        padding: 0.5rem;
    }
    .chosenDoctor, .chosenUser {
        width: 40%;
        padding: 0.5rem;
    }
}

@media only screen and (min-width: 1280px) {
    .chosenDoctor, .chosenUser, .usersSection article, .doctorsSection article {
        width: 30%;
    }
}

@media only screen and (min-width: 1600px) {
    .chosenDoctor, .chosenUser, .doctorsSection article, .usersSection article {
        width: 20%;
    }
}