body {
    color: var(--white);
    background-color: var(--primary-light);
}
* {
    margin: 0;
	padding: 0;
	border: 0;
    font: inherit;
    font-family: 'Lato', sans-serif;
    list-style: none;
    text-decoration: none;
}
:root {
    /* Colors */
    --primary-light: #6075ee;
    --primary: #1c34b8;
    --secundary: #5223ad;
    --white: aliceblue;
    --white-transparent: rgba(240, 248, 255, 0.432);
    --striking: rgb(139, 14, 14);
    --success: #258625;

    /* Radius */
    --soft-radius: 8px;

}
button {
    cursor: pointer;
    border-radius: var(--soft-radius);
}
.hidden {
    display: none;
}
img {
    border-radius: var(--soft-radius);
}