.hospitalsSection, .specializationsSection {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}
article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin: 0.2rem;
    padding: 0.4rem;
    border: 2px solid var(--white);
    border-radius: var(--soft-radius);
}
article h1, article p {
    text-align: center;
    margin: auto;
}
article h1 {
    font-size: large;
    font-weight: 700;
}
article p {
    font-size: medium;
}

@media only screen and (min-width: 768px) {
    article {
        width: 25%;
        margin: 0.5rem;
        padding: 0.7rem;
    }
}