body {
    background-color: var(--primary-light);
}
div {
    width: 95%;
    margin: 10% auto;
    text-align: center;
}
div > h1 {
    margin: 0 0 5% 0;
    font-size: xx-large;
}
div > p {
    margin: 0 0 5% 0;
    font-size: large;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 85%;
    padding: 5%;
    border: 2px solid var(--white);
    border-radius: var(--soft-radius);
}
form > * {
    width: 100%;
}
form > input {
    margin: 0 0 5% 0;
    padding: 3%;
    border-radius: var(--soft-radius);
    background-color: var(--white);
}
form .errorMsg {
    margin: 4% 0 0 0;
    color: var(--striking);
    text-align: center;
    font-weight: 900;
}
form > button, form a button {
    padding: 4%;
    color: var(--white);
    background-color: var(--primary);
    border-radius: var(--soft-radius);
}
form a {
    margin: 10% 0 0 0;
    padding: 10% 0 0 0;
    border-top: 2px solid var(--white-transparent);
}
form a button {
    width: inherit;
}