header {
    display: flex;
    justify-content: space-around;
    padding: 5% 0;
    background-color: var(--primary);
}
header img {
    width: 10%;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
nav button {
    width: max-content;
    padding: 0.5rem;
    color: var(--white);
    background-color: transparent;
    border: 2px solid var(--white);
    font-size: smaller;
}
nav button.selected {
    background-color: var(--primary-light);
}