h1 {
    text-align: center;
    font-size: xx-large;
}
form {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto 15% auto;
}
form input, form label, form button {
    margin: 5% 0 0 0;
}
form input, form select, form button {
    color: var(--white);
    background-color: var(--primary);
    border-radius: var(--soft-radius);
}
input#endTime, input#startTime {
    margin: 0;
}
form input {
    padding: 3%;
}
form input::placeholder {
    color: var(--white-transparent);
}
form select {
    padding: 2%;
}
form button {
    width: 35%;
    margin: 5% auto 0 auto;
    padding: 3%;
    background-color: var(--secundary);
}
p.errorMsg{
    margin: 5% 0;
    text-align: center;
    color: var(--striking);
}
.specializationsSection {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.specializationsSection article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin: 0 0 3% 0;
    padding: 1%;
    border: 2px solid var(--white);
    border-radius: var(--soft-radius);
}
.specializationsSection h1 {
    text-transform: capitalize;
    font-size: larger;
}