h1 {
    margin: 1rem 0 0 0;
    text-align: center;
    font-size: xx-large;
}
form {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto 1rem auto;
}
form input, form label, form button {
    margin: 1.5rem 0 0 0;
}
form input, form select, form button {
    color: var(--white);
    background-color: var(--primary);
    border-radius: var(--soft-radius);
}
input#endTime, input#startTime {
    margin: 0;
}
form input {
    padding: 0.7rem;
}
form input::placeholder {
    color: var(--white-transparent);
}
form select {
    padding: 0.7rem;
}
form button {
    width: 35%;
    margin: 2rem auto 0 auto;
    padding: 0.7rem;
    background-color: var(--secundary);
}
p.errorMsg{
    margin: 1rem 0 2rem 0;
    text-align: center;
    color: var(--striking);
    font-weight: 800;
}
.adviceMsg {
    text-align: center;
    font-size: larger;
    font-weight: 800;
    color: #1c34b8;
}
select {
    text-transform: capitalize;
}
.formBtns {
    display: flex;
    justify-content: space-between;
}
.cancelBtn {
    border: 1px solid var(--white);
    background-color: var(--white-transparent);
}
article.selected {
    border-color: var(--secundary);
}

@media only screen and (min-width: 768px) {
    form {
        width: 50%;
    }
    form button {
        width: 20%;
    }
}

@media only screen and (min-width: 1600px) {
    form {
        width: 30%;
    }
}