.signupContainer {
    padding: 20% 0 0 0;
}
h1 {
    text-align: center;
}
form .errorMsg {
    margin: 0 0 1rem 0;
}

@media only screen and (min-width: 1024px) {
    .signupContainer {
        padding: 10% 0 0 0;
    }
}