h1 {
    font-size: xx-large;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 0.5rem;
    margin: 5% auto;
    border: 2px solid var(--white);
    border-radius: var(--soft-radius);
}
input {
    width: 70%;
    margin: 1% 0 5% 0;
    padding: 0.5rem;
    color: var(--white);
    background-color: var(--primary);
    border-radius: var(--soft-radius);
}
input::placeholder {
    color: var(--white-transparent);
}
.roleSearchContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 70%;
}
form select {
    width: 100%;
    margin: 0 0 5% 0;
}
form button {
    padding: 0.7rem;
    color: var(--white);
    background-color: var(--secundary);
    border-radius: var(--soft-radius);
}
.users {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.users article {
    position: relative;
    width: 45%;
    margin: 0 0 20px 0;
    padding: 0 0 5px 0;
    border: 4px solid var(--primary);
    border-radius: var(--soft-radius);
}
.banner {
    width: 100%;
    height: 3rem;
    background-color: var(--primary);
}
.users article img {
    position: relative;
    top: -40px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    border: 4px solid var(--primary);
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
.users .userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-40px);
}
.users .userInfo p:first-child {
    font-size: x-large;
    font-weight: 800;
}
.roleSelection {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
select {
    width: 70%;
    padding: 0.2rem;
    color: var(--white);
    background-color: var(--primary);
    border-radius: var(--soft-radius);
}
.roleBtn {
    display: block;
    width: 85%;
    margin: 0.5rem auto;
    padding: 0.2rem;
    text-align: center;
    color: var(--white);
    border-radius: var(--soft-radius);
    background-color: var(--secundary);
}
.popup {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: var(--white);
    background-color: var(--striking);
    opacity: 1;
    transition: 1s;
}
.popup.success {
    background-color: var(--success);
}
.popup.hidden {
    bottom: -100px;
    opacity: 0;
}
.popup p {
    padding: 3%;
    text-align: center;
}
.hidden {
    display: none;
}